@import "variables.less";

html,
body {
  color: @text-color;
  font-family: @font-family-base;
  font-size: @base-font-size;
  background-color: @light-color;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header,
.main-footer,
.main-content {
  max-width: @max-width-site;
  margin: 0 auto;
}

.container {
  max-width: @max-width-container;
  margin: 0 auto;
}

.wrap {
    margin: 0 20px;
    border-top: 1px solid transparent;
}

/* Main header */
.main-header {
  background:  url("../img/bg-rhomb.png") repeat,
               linear-gradient(-90deg,#7395f2,#af60e2); 

  .header-logo {
    display: inline-block;
    max-width: 180px;
    margin-top: 50px;
  }
}

.main-nav {
  float: right;
  margin-top: 45px;
  
  ul {
    font-family: @font-family-nav;
    font-size: @nav-font-size;
    color: @light-color;
    
    &:hover {
      li {
        &.active {
          .active-nav(transparent);
          
          &:hover {
            .active-nav();
          }
        }
        
        a:hover {
          .active-nav();
        }
      }
    }
    
    li {
      display: inline-block;
      text-transform: uppercase;
      list-style: none;
      
      &.active {
        .active-nav();
      }
      
      a {
        display: block;
        .active-nav(transparent);
        color: @light-color;
        text-decoration: none;        
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Header Slaider */
.header-slaider {
  margin-top: 170px;
  margin-bottom: 65px;
  
  &-item {
    position: relative;
  }
  
  &-img {
    position: relative;
    left: 0px;
    float: left;
    margin-right: 90px;
  }
  
  &-content {    
    color: @light-color;
    border-top: 1px solid transparent;
    
    h2 {
      font-size: 60px;
      font-weight: 700;
      margin-top: 60px;
      margin-bottom: 35px;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.35);
    }
    
    p {
      font-size: @base-font-size;
      line-height: @line-height;
      padding-right: 95px;
      margin-bottom: 45px;
    }
  }
  
  &-download {
    h5 {
      margin-bottom: 27px;
      font-size: @big-font-size;
      font-weight: 400;
      text-transform: uppercase;
    }
    
    a {
      display: inline-block;
      width: 200px;
      height: 72px;
      margin-right: 34px;
      background-color: @dark-gray;
      .border-round-coner();
      
      &.app-store {
        background: @dark-gray url("../img/app-store.png") center no-repeat;
      }
      
      &.android-market {
        background: @dark-gray url("../img/android-market.svg") center no-repeat;
        background-size: 170px;
      }
      
    }
    
  }
}

/* Main Content */
.main-content {
  p {
    line-height: @line-height;
    margin: 0;
  }
}

.light-theme {
  color: @text-color;
  background-color: @bg-color-light;
}

.dark-theme {
  .linear-gradient()
}

.dark-header {
  font-size: @large-font-size;
  font-weight: 400;
  text-align: center;
  margin-top: 106px;
  margin-bottom: 20px;
}

.features {
  background: url("../img/bg-features.jpg") center no-repeat;
  background-size: cover;
  
  p {
    text-align: center;
    padding: 0 50px;
  }
}

.features-all {
  margin-top: 110px;
  margin-bottom: 130px;
}

.feauture-item {
  width: 33.333%;
  float: left;
  
  
  a {
    display: block;
    text-decoration: none;
    text-align: center;
    
    h4{
      margin-top: 10px;
      margin-bottom: 15px;
      color: @text-color;
      font-weight: 600;
      font-size: floor(@large-font-size/2);
    }
    
    .feauture-img {
      display: inline-block;
      width: 130px;
      height: 130px;
      background: url("../img/sprite-img.png") 0 0 no-repeat;
    }
    
    .item-listen {
      background-position: 0 -260px;
    }
    
    .item-gallery {
      background-position: 0 0;
    }
    
    .item-gallery {
      background-position: 0 -520px;
    }
    
    &:hover {
      h4 {
        color: @brand-color;
      }
      
      .item-full {
        background-position: 0 -130px;
      }
      
      .item-listen {
        background-position: 0 -390px;
      }
      
      .item-gallery {
        background-position: 0 -650px;
      }
    }
  }
}