@import "variables.less";

html,
body {
  color: @light-color;
  font-family: @font-family-base;
  font-size: @base-font-size;
  background-color: @light-color;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header,
.main-footer,
.main-content {
  max-width: @max-width-site;
  margin: 0 auto;
}

.container {
  max-width: @max-width-container;
  margin: 0 auto;
}

.wrap {
    margin: 0 20px;
    border-top: 1px solid transparent;
}

/* Main header */
.main-header {
  background:  url("../img/bg-rhomb.png") repeat,
               linear-gradient(@angle, @bg-color-1, @bg-color-2); 

  .header-logo {
    display: inline-block;
    max-width: 180px;
    margin-top: 50px;
  }
}

.main-nav {
  float: right;
  margin-top: 45px;
  
  ul {
    font-family: @font-family-nav;
    font-size: @nav-font-size;
    color: @light-color;
    
    &:hover {
      li {
        &.active {
          .active-nav(transparent);
          
          &:hover {
            .active-nav();
          }
        }
        
        a:hover,
        &:active {
          .active-nav();
        }
      }
    }
    
    li {
      display: inline-block;
      text-transform: uppercase;
      list-style: none;
      
      &.active {
        .active-nav();
      }
      
      a {
        display: block;
        .active-nav(transparent);
        color: @light-color;
        text-decoration: none;        
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Header Slaider */
.header-slider {
  margin-top: 170px;
  margin-bottom: 65px;
  
  &-item {
    position: relative;
  }
  
  &-img {
    position: relative;
    left: 0px;
    float: left;
    margin-right: 90px;
  }
  
  &-content {    
    color: @light-color;
    border-top: 1px solid transparent;
    
    h2 {
      font-size: 60px;
      font-weight: 700;
      margin-top: 60px;
      margin-bottom: 35px;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.35);
    }
    
    p {
      font-size: @base-font-size;
      line-height: @line-height;
      padding-right: 95px;
      margin-bottom: 45px;
    }
  }
  
  &-download {
    h5 {
      margin-bottom: 27px;
      font-size: @big-font-size;
      font-weight: 400;
      text-transform: uppercase;
    }
    
    a {
      display: inline-block;
      width: 200px;
      height: 72px;
      margin-right: 34px;
      background-color: @dark-gray;
      .border-round-coner();
      
      &.app-store {
        background: @dark-gray url("../img/app-store.png") center no-repeat;
      }
      
      &.android-market {
        background: @dark-gray url("../img/android-market.svg") center no-repeat;
        background-size: 170px;
      }
      
    }
    
  }
}

/* Main Content */
.main-content {
  p {
    line-height: @line-height;
    margin: 0;
  }
}

.light-theme {
  color: @text-color;
  background-color: @bg-color-light;
}

.middle-header {
  font-size: @large-font-size;
  font-weight: 400;
  text-align: center;
  margin-top: 106px;
  margin-bottom: 20px;
}

/* Features Section */
.features {
  background: #f7e5ff url("../img/bg-features.jpg") center no-repeat;
  background-size: cover;
  
  p {
    text-align: center;
    padding: 0 50px;
  }
}

.features-all {
  margin-top: 110px;
  margin-bottom: 130px;
}

.feauture-item {
  width: 33.333%;
  float: left;
  
  
  a {
    display: block;
    text-decoration: none;
    text-align: center;
    
    h4{
      margin-top: 10px;
      margin-bottom: 15px;
      color: @text-color;
      font-weight: 600;
      font-size: floor(@large-font-size/2);
    }
    
    .feauture-img {
      display: inline-block;
      width: 130px;
      height: 130px;
      background: url("../img/sprite-img.png") 0 0 no-repeat;
    }
    
    .item-listen {
      background-position: 0 -260px;
    }
    
    .item-gallery {
      background-position: 0 0;
    }
    
    .item-gallery {
      background-position: 0 -520px;
    }
    
    &:hover,
    &:active {
      h4 {
        color: @brand-color;
      }
      
      .item-full {
        background-position: 0 -130px;
      }
      
      .item-listen {
        background-position: 0 -390px;
      }
      
      .item-gallery {
        background-position: 0 -650px;
      }
    }
  }
}

/* Checkout Section */
.checkout {
  position: relative;
  min-height: 805px;
  .linear-gradient(@angleInvert; @bg-color-1; @bg-color-2);
  
  h2 {
    margin-bottom: 115px;
  }
}

.checkout-text {
  width: 50%;
  
  h3 {
    position: relative;
    font-size: @mdl-font-size;
    font-weight: 600;
    padding-left: 70px;
    margin-bottom: 10px;
    
    .checkout-fa {
      position: absolute;
      font-size: 42px;
      left: 7px;
      top: -10px;
    }
  }
  
  p {
    font-size: @base-font-size;
    padding-left: 70px;
    margin-bottom: 45px;
  }
}

.checkout-image {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 45%;
  max-height: 550px;
  overflow: hidden;
  
  img {
    max-width: 100%;
  }
}

/* Screenshots Section */
.screenshots {
  background: @bg-color-light url("../img/bg-screenshorts.jpg") center no-repeat;
  background-size: cover; 
  
  h3 {
    margin-top: 110px;
    margin-bottom: 93px;
    font-weight: 400;
    text-align: center;
    font-size: @big-font-size;
  }
}

.screenshorts-gallery {
  max-width: @max-width-container;
  text-align: center;
  font-size: 0;
  
  &-content {
    margin: 0 -17px 38px -17px;
    overflow: hidden;
  }
  
  &-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 17px;
 
    a {
      display: block;
      position: relative;
      
      &:hover,
      &:active {
        
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background:  url("../img/item-plus.png") center center no-repeat,
               linear-gradient(-135deg, @bg-color-1-a, @bg-color-2-a); 
        }
      }
    }
  }
  
  &-controls {
    .controls-block(119px);
    
    i {
      .controls();
      
      &.active {
        background: @brand-color;
      }
    }
  }
  
}

/* Testimonial Section */
.testimonial {
  min-height: 520px;
  .linear-gradient(@angle; @bg-color-1; @bg-color-2);
}

.slider {
    position: relative;
    min-height: 270px;
    margin-top: 135px;
    margin-bottom: 40px;
  
    &-content {
      position: relative;
      min-height: 270px;
    }
    
    .check-slide {
      display: none;
      
      &:checked + .slider-item {
        opacity: 1;
        transition: opacity 0.95s;
      }

    }
  
    #checkSlide_1:checked ~ .slider-controls label[for="checkSlide_1"],
    #checkSlide_2:checked ~ .slider-controls label[for="checkSlide_2"],
    #checkSlide_3:checked ~ .slider-controls label[for="checkSlide_3"] {
      & i {
        background-color: @light-color;
      }
      
    }
    /*
    .generate-labels(3);
*/
    &-item {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.7s;
      &-photo {
        float: left;
        width: 197px;
        height: 197px;
        margin-right: 95px;
        border-radius: 50%;
        border: 5px solid @light-color;
        background: #fff url(../img/photo-lura_moore.jpg)  center no-repeat;
        background-size: 247px;
      }
    
      &-text {
        float: left;
        width: 70.588%;        
        
        cite {
          font-style: normal;

          span {
            text-transform: uppercase;
          }
        }

        a {
          text-decoration: none;
          color: @light-color;
        }
      }
      
      &-blockquote {
        position: relative;
        margin-top: 30px;
        margin-bottom: 37px;
        line-height: @line-height;
        
        &:before {
          content: "“";
          display: block;
          position: absolute;
          left: -45px;
          top: -35px;
          font-family: @font-family-serif;
          font-size: @large-font-size;
        }
        
        .text-end {
          position: relative;
          
          &:after {
            content: "„";
            position: absolute;
            right: -45px;
            bottom: -32px;
            font-family: @font-family-serif;
            font-size: @large-font-size;
          }
        }
      }
    }    
    
    &-controls {
      position: absolute;
      bottom: -100px;
      left: 0;
      right: 0;
      .controls-block();

      i {
        .controls(@light-color);

        &.active {
          background: @light-color;
        }
      }
    }
}

/* Support Section */
.support {
  address {
    margin-bottom: 100px;
    text-align: center;
    font-size: @base-font-size + 11;
    font-style: normal;
    
    a {
      text-decoration: none;
      color: @text-color;
      
      &:hover,
      &:active {
        color: @brand-color;
      }
    }
  }
  
  &-content {
    margin-bottom: 85px;    
  }
  
  .support-item-photo {
    position: relative;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    .linear-gradient(@angle; @bg-color-1; @bg-color-2);      

    img {
      .zero-centered();
      width: 168px;
      height: 168px;
      border: 8px solid @light-color;
      border-radius: 50%;
    }
  }
  
  &-item {
    width: 45.73%;
    margin-bottom: 60px;
    border-top: 1px solid transparent;

    &:nth-child(odd) {
      float: left;
      
      .support-item-text {
        text-align: right;
        margin-right: 227px;
      }
      
      .support-item-photo {
        float: right;
      }
      
    }

    &:nth-child(even) {
      float: right;
      
      .support-item-text {
        text-align: left;
        margin-left: 227px;
      }
      
      .support-item-photo {
        float: left;
      }
    }
  } 
    
  .support-name {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: @nav-font-size;
    font-weight: 600;
  }

  .support-position {
    margin-top: 0;
    margin-bottom: 14px;
    padding-bottom: 13px;
    border-bottom: 1px solid @text-color;
  }

  .support-description {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .support-social-contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: @mdl-font-size;

    li {
      display: inline-block;
      margin: 0 7px;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;          
      color: @text-color;

      &:hover,
      &:active {
        color: @brand-color;
      }
    }
  }
}

/* Newsletter Section */
.newsletter {
  .linear-gradient(@angleInvert; @bg-color-1; @bg-color-2);
  
  .middle-header {
    margin-top: 83px;
    margin-bottom: 25px;
  }
  
  p {
    text-align: center;
  } 
}

form[name="subscribe"] {
  margin-top: 50px;
  margin-bottom: 135px;
  text-align: center;

  input {
    width: 28.72%;
    padding: 18px 18px 18px 60px;
    margin-right: 12px;
    outline: none;
    border: 2px solid @light-color;
    background-color: transparent;
    color: @light-color;
    .border-round-coner(4px); 
    .placeholder-color(@light-color);
    
    &[type="email"] {
      background-image: url("../img/sprite-img.png");
      background-repeat: no-repeat;
      background-position: -34px -807px;
    }
  }
}

.btn {
  padding: 18px 35px;
  border: 2px solid @brand-color;
  .border-round-coner(4px);
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  
  &.btn-submit {
    background-color: @brand-color;
    color: @light-color;
  }
}

/* Blog Post Section */
.blog-post {
  background: @bg-color-light url("../img/bg-blog_post.jpg") center no-repeat;
}

.blog-post-slider {
  margin-bottom: 75px;
  
  &-content {
    margin-bottom: 8px;
  }
  
  &-item {
    width: 44.35%;
    margin-bottom: 53px;
    
    &:nth-child(odd) {
      float: left;
    }
    
    &:nth-child(even) {
      float: right;
    }
  }
  
  &-date {
    position: relative;
    float: left;
    width: 70px;
    height: 100px;
    text-align: center;
    color: @light-color;
    background-color: @brand-color;
    
    &:after {
      content: "";      
      position: absolute;
      right: -10px;
      top: 6px;
      display: block;
      .triangle(right; 20px; @brand-color);
    }
    
    &.special-date {
      background-color: @special-color;
      
      &:after {
        .triangle(right; 20px; @special-color);
      }
    }
    
    .date-number {
      display: block;
      font-weight: 800;
      font-size: @base-font-size + 20;
    }
    
    .date-other {
      display: block;
      font-weight: 300;
      font-size: @nav-font-size;
    }
  }
  
  &-text {
    padding-left: 100px;
    
    h4 {
      margin-top: 0;
      margin-bottom: 4px;
      font-weight: 600;
      font-size: @nav-font-size;
      color: @text-color;
      
      a {
        text-decoration: none;
        color: @text-color;
        
        &:hover,
        &:active {
          color: @brand-color;
        }
      }
    }
    
    p {
      margin: 0;
      font-size: @small-font-size;
      line-height: @line-height;
      
      i {
        margin-right: 17px;
      }
      
      a {
        text-decoration: none;
        color: @text-color;
        
        &:hover,
        &:active {
          color: @brand-color;
        }
      }
    }
  }
  
  &-controls {
    .controls-block(104px);
    
    i {
      .controls();
      
      &.active {
        background: @brand-color;
      }
    }
  }
}

.main-footer {
  .linear-gradient(@angle; @bg-color-1; @bg-color-2);
  
  p {
    line-height: @line-height;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    padding: 0 50px;
  }
}

/* Get in Touch Section */
form[name="contactInform"] {
  position: relative;
  margin-bottom: 70px;
  
  input {
    display: block;    
    float: left;
    box-sizing: border-box;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 17px;
    padding: 15px;
    color: @text-color;
    outline: none;
    border: none;
    .placeholder-color(@text-color);
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    color: @text-color;
    outline: none;
    border: none;
    .placeholder-color(@text-color);
  }
  
  .btn-submit {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 0;
  }
}

.social-contacts {
  list-style-type: none;
  text-align: center;
  font-size: 0;
  
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    font-size: @mdl-font-size;
    
    a {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      color: @light-color;
      .border-round-coner(50%);
      
      &:hover,
      &:active {
        background-color: @brand-color;
      }
      
      i {
        width: 20px;
        height: 20px;
        .zero-centered();
      }
    }
  }
}