@text-color: #3b434d;
@brand-color: #a62ad7;
@bg-color: #907bea;
@bg-color-1: #7395f2;
@bg-color-1-a: rgba(115, 149, 242, 0.78);
@bg-color-2: #af60e2;
@bg-color-2-a: rgba(175, 96, 226, 0.78);
@bg-color-light: @light-color;

@light-color: #fff;
@dark-gray: #333;

@font-family-base: "Open Sans", Calibri, Arial, sans-serif;
@font-family-nav: "Myriad Pro", Calibri, Arial, sans-serif;
@font-family-serif: "Times New Roman", serif;
@base-font-size: 16px;
@nav-font-size: @base-font-size + 2;
@mdl-font-size: @base-font-size + 4;
@big-font-size: @base-font-size + 12;
@large-font-size: @base-font-size + 44;

@max-width-site: 2000px;
@max-width-container: 1230px;

@line-height: 1.9;

@angle: -90deg;
@angleInvert: 90deg;
/*********** Mixins **************/
.linear-gradient(@angle; @bg-color-1; @bg-color-2) {
  background-image: linear-gradient(@angle, @bg-color-1, @bg-color-2);
}

.border-round-coner(@radius: 25px) {
  border-radius: @radius;
}

.zero-centered() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.active-nav(@color: @brand-color) {
  background-color: @color;
  .border-round-coner();
  cursor: pointer;
  padding: 11px 20px 8px;
}

.controls(@color: @brand-color) {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  border: 2px solid @color;
  background: transparent;
}

.controls-block(@margin-bottom: 50px) {
  margin-bottom: @margin-bottom;
  text-align: center;
  font-size: 0;
}
