@text-color: #3b434d;
@brand-color: #a62ad7;
@bg-color: #907bea;
@bg-color-1: #7395f2;
@bg-color-2: #af60e2;
@light-color: #fff;

@font-family-base: "Open Sans", Calibri, Arial, sans-serif;
@font-family-nav: "Myriad Pro", Calibri, Arial, sans-serif;
@base-font-size: 16px;
@nav-font-size: @base-font-size + 2;

@max-width-site: 2000px;
@max-width-container: 1170px;


/*********** Mixins **************/
.linear-gradient() {
  background-image: linear-gradient(90deg, @bg-color-1, @bg-color-2);
}
